body {
    font-family: "Montserrat";
    text-align: center;
    background-color: #A084DC;
}

.btn {
    margin: 3%;
}

.calculator {
    padding: 7% 15%;
}
.kg-ht {
    font-family: "Montserrat-Black";
    font-size: 1.5rem;
    color: aqua;
    margin-top: 3%;
}
.bmi {
    font-family: "Montserrat-Black";
    font-size: 1.5rem;
    color: #181823;
}
